body{
    background-color: #f2f2f2;
}
.container{
    display: flex;
    flex-direction: column;
}
#index{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table{
    text-align: center;
}
.titre{
    margin-top: 20px;
    margin-bottom: 20px;
}
tr:nth-child(odd) {
    background-color: white;
}
th{
    background-color: white;
}
#liste{
    padding: 0;
}