body{
    background-color: #f2f2f2;
}
/*--------------------header.html---------------------*/
.customHeader {
    background-color: #A100FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*----------------------------------------------------*/

/*--------------------index.html----------------------*/
.container{
    display: flex;
    flex-direction: column;
}
#index{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table{
    text-align: center;
}
.table tr {
    transition: box-shadow 0.2s ease-in-out;
}
.table tr:hover {
    background-color: #DCDCDC;
    box-shadow: 0 0 10px #999999;
}

.titre, .titreFestival{
    margin-top: 20px;
    margin-bottom: 20px;
}
tr:nth-child(odd) {
    background-color: white;
}
th{
    background-color: white;
}
#liste{
    padding: 0;

}
/*----------------------------------------------------*/

/*-----------formulaire.html & editer.html------------*/

.form-group{
    display: flex;
    width: 75%;
}
.form-group label{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.form-group input{
    width: 35%;
}
.titreFestival{
    text-align: center;
}
.form-group button, .form-group a{
    width: 35%;
}
/*----------------------------------------------------*/

/*--------------------footer.html--------------------*/
#customFooter{
    margin-top: 40px;
}
/*----------------------------------------------------*/