<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trouve ton Festoche!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<!-----------Start Header Section-------------->
<div th:replace="fragments/header :: header"></div>
<!-----------End Header Section---------------->

<!-------------Start Form Section-------------->
<div class="container">
    <h1 class="titreFestival" th:text="#{message.editFestival}">Editer un festival</h1>
    <div class="container">
        <form th:action="@{/editerFestival/{id}(id=${festival.id})}" th:object="${festival}" method="post">

            <div class="form-group">
                <label th:text="#{message.name}">Nom:</label>
                <input type="text" th:field="*{nom}">
            </div>
            <div class="form-group">
                <label>URL :</label>
                <input type="text" th:field="*{url}">
            </div>
            <div class="form-group">
                <label th:text="#{message.city}">Ville :</label>
                <input type="text" th:field="*{ville}">
            </div>
            <div class="form-group">
                <label th:text="#{message.postalCode}">Code postal :</label>
                <input type="text" th:field="*{cp}">
            </div>
            <div class="form-group">
                <label th:text="#{message.city}">Lieu :</label>
                <input type="text" th:field="*{lieu}">
            </div>
            <div class="form-group">
                <label th:text="#{message.start}">Date de début :</label>
                <input th:field="*{debut}" type="date">
            </div>
            <div class="form-group">
                <label th:text="#{message.end}">Date de fin :</label>
                <input th:field="*{fin}" type="date">
            </div>
            <div class="form-group">
                <label></label>
                <button id="subEdit" type="submit" class="btn" th:text="#{message.submit}">Envoyer</button>
            </div>
            <div class="form-group">
                <label></label>
                <a id="cancelEdit" href="/" class="btn" th:text="#{message.cancel}">Annuler</a>
            </div>
        </form>
    </div>

</div>
<!-------------End Form Section-------------->

<!-------------Start Footer Section---------->
<div th:replace="fragments/footer :: footer"></div>
<!-------------End Footer Section------------>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1ae7c95103.js" crossorigin="anonymous"></script>
</body>
</html>
