<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trouve ton Festoche!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Trouve ton Festoche!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <h1>Ajout d'un festival</h1>
    <form th:action="@{/ajouterFestival}" th:object="${festival}" method="post">
        <div class="form-group">
            <label >Nom:</label>
            <input type="text" th:field="*{nom}">
        </div>
        <div class="form-group">
            <label>URL :</label>
            <input type="text" th:field="*{url}">
        </div>
        <div class="form-group">
            <label>Ville :</label>
            <input type="text" th:field="*{ville}">
        </div>
        <div class="form-group">
            <label>Code postal :</label>
            <input type="text" th:field="*{cp}">
        </div>
        <div class="form-group">
            <label>Lieu :</label>
            <input type="text" th:field="*{lieu}">
        </div>
        <div class="form-group">
            <label>Date de début :</label>
            <input th:field="*{debut}" type="date">
        </div>
        <div class="form-group">
            <label>Date de fin :</label>
            <input th:field="*{fin}" type="date">
        </div>
        <div class="form-group">
            <label>Latitude :</label>
            <input th:field="*{lat}" type="text">
        </div>
        <div class="form-group">
            <label >Longitude :</label>
            <input th:field="*{lon}" type="text">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>
</html>
