<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trouve ton Festoche!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <!-- Chargement de la bibliothèque Leaflet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css"/>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
<!-----------Start Header Section-------------->
<div th:replace="fragments/header :: header"></div>
<!-----------End Header Section---------------->

<!-----------Start Map Section-------------->
<div class="container" >
    <h1 id="titreAccueil" class="titre" th:text="#{message.title}">Les festivals de votre région</h1>
    <div id="map" style="height: 300px;"></div>
    <div class="container" id="index">
        <a id="add-btn" th:href="@{/formulaire}" class="btn" th:text="#{message.add}">Ajouter un festival</a>
    </div>
    <!---------------End Map Section--------------->

    <!-------------Start List Section-------------->
    <div class="container" id="liste">
        <table class="table" aria-describedby="titreAccueil">
            <thead>
            <tr>
                <th th:text="#{message.name}">Nom</th>
                <th th:text="#{message.city}">Ville</th>
                <th th:text="#{message.location}">Lieu</th>
                <th th:text="#{message.start}">Début</th>
                <th th:text="#{message.end}" >Fin</th>
                <th th:text="#{message.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="festival : ${festivals}">
                <td th:text="${festival.nom}"></td>
                <td th:text="${festival.ville}"></td>
                <td th:text="${festival.lieu}"></td>
                <td th:text="${#dates.format(festival.debut, 'dd MMMM yyyy')}"></td>
                <td th:text="${#dates.format(festival.fin, 'dd MMMM yyyy')}"></td>
                <td>
                    <a id="edit-btn" th:href="@{/editer/{id}(id=${festival.id})}" th:text="#{message.edit}" class="btn">Editer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-------------End List Section-------------->

<!-------------Start Footer Section---------->
<div th:replace="fragments/footer :: footer"></div>
<!-------------End Footer Section------------>
<script th:src="@{/script.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/1ae7c95103.js" crossorigin="anonymous"></script>
<script th:each="festival : ${festivals}" th:object="${festival}" th:inline="javascript">
    addMarkerOnMap([[*{lat}]], [[*{lon}]],[[*{nom}]],[[*{ville}]]);
</script>
</body>
</html>