<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trouve ton Festoche!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<!-----------Start Header Section-------------->
<div th:replace="fragments/header :: header"></div>
<!-----------End Header Section---------------->
<!-----------Start Map Section-------------->
<div class="container" >
    <h1 class="titre">Les festivals de votre région</h1>
    <div id="map" style="height: 300px;"></div>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="container" id="index">
    <a th:href="@{/formulaire}" class="btn btn-success">Ajouter un festival</a>
</div>
    <!---------------End Map Section--------------->
    <!-------------Start List Section-------------->
<div class="container" id="liste">
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Ville</th>
            <th>Lieu</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="festival : ${festivals}">
            <td th:text="${festival.nom}"></td>
            <td th:text="${festival.ville}"></td>
            <td th:text="${festival.lieu}"></td>
            <td th:text="${festival.debut}"></td>
            <td th:text="${festival.fin}"></td>
            <td>
                <a th:href="@{/editer/{id}(id=${festival.id})}" class="btn btn-dark">Editer</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</div>
<!-------------End List Section-------------->
<div th:replace="fragments/footer :: footer"></div>
<script>
    // Initialisation Leaflet
    let mymap = L.map('map').setView([48.202047, -2.932644], 8);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        { tileSize: 512, zoomOffset: -1, maxZoom: 18 }
    ).addTo(mymap);

</script>
<script>
    // Fonction pour ajouter une marque
    function addMarkerOnMap(lat, lon, nom, ville) {
        let coords = [lat, lon];
// On ajoute une marque à l'endroit de notre géolocalisation
        marker = L.marker(coords).addTo(mymap);
// Un popup qui s'affichera au-dessus du marqueur
        let popup = L.popup().setContent('<h1>'+nom+'</h1>'+ville);
        marker.bindPopup(popup);
        marker.addEventListener('click', (event) => {
            popup.openOn(mymap);
        });
    }
</script>
<script th:each="festival : ${festivals}" th:object="${festival}"
        th:inline="javascript">
    addMarkerOnMap([[${festival.lat}]], [[${festival.lon}]], [[${festival.nom}]], [[${festival.ville}]]);

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://kit.fontawesome.com/1ae7c95103.js" crossorigin="anonymous"></script>
</body>
</html>